/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.hello{
    font-family: "Pacifico", cursive;
    font-size: 30px;
    font-weight: 700;
}

.fontS{
    font-family: "Pacifico", cursive;
}